/* this pins the drawing canvas to the top/right hand corner of our page */
canvas {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
  cursor: pointer; 
}

body {
  background-color: #222;
  margin: 0;
  padding: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  overflow: hidden;
}

#message {
  margin: 48px auto 0 auto;
  max-width: 900px;
  color: #fff;
  font-size: 16px;
  text-align: center;
}

#message-title {
  font-size: 28px;
}

.time {
  color: white;
}

.yellow {
  background-color: #ffc728;
  width: 100%;
  height: 33.333%;
  position: absolute;
  bottom: 0;
  left: 0;
}

.bg-img {
  background-image: url("../assets/bg.jpg");
  background-size: cover;
  filter: blur(7px);
  opacity: 0.1;

  width: 100%;
  height: 67%;
  position: absolute;
  top: 0;
  left: 0;
}

#modal-container {
  display: none;
  width: 100vw;
  height: 100vh;
  position: relative;
  margin: 0;
  padding: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  opacity: 0;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 400px;
  min-height: 500px;
  height: 50%;
  width: 30;
  border-radius: 10px;
  transform-style: preserve-3d;
  transition: all 0.8s ease;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
  user-select: none;
}

.modal-flip {
  transform: translate(-50%, -50%) rotateY(180deg);
}

.modal-front {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  backface-visibility: hidden;
  overflow: hidden;
  background: #ffc728;
  color: #000;
  text-align: center;
}

.modal-front h1 {
  position: relative;
  top: 22%;
}

.title {
  font-size: 82px;
}

.inner-shadow {
  background-color: #565656;
  color: transparent;
  text-shadow: 0px 2px 3px rgba(255,255,255,0.8);
  -webkit-background-clip: text;
     -moz-background-clip: text;
          background-clip: text;
}

.modal-back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  backface-visibility: hidden;
  overflow: hidden;
  background: #fafafa;
  color: #333;
  text-align: center;
  transform: rotateY(180deg);
}

.modal-desc {
  width: 75%;
  text-align: left;
  position: relative;
  font-size: 28px;
  left: 12.5%;
}

.modal-desc-front {
  width: 75%;
  text-align: center;
  position: relative;
  font-weight: bold;
  font-size: 32px;
  left: 12.5%;
  top: 40%;
}

.box-1{ 
  height: 150px;
	width: 100%; 
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffc728;
  position: absolute;
  bottom: 0; 
}

.btn{
	line-height: 50px;
	height: 50px;
	text-align: center;
	width: 250px;
	cursor: pointer;
}

/* 
========================
      BUTTON ONE
========================
*/

.btn-one {
	color: #FFF;
	transition: all 0.3s;
	position: relative;
}
.btn-one span {
	transition: all 0.3s;
}
.btn-one::before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 3;
	opacity: 0;
	transition: all 0.3s;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: rgba(255,255,255,0.5);
	border-bottom-color: rgba(255,255,255,0.5);
	transform: scale(0.1, 1);
}
.btn-one:hover span {
	letter-spacing: 2px;
}
.btn-one:hover::before {
	opacity: 1;	
	transform: scale(1, 1);	
}
.btn-one::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	transition: all 0.3s;
	background-color: rgba(255,255,255,0.1);
}
.btn-one:hover::after {
	opacity: 0;	
	transform: scale(0.1, 1);
}


#menu,
#pause-container,
#button-container {
  width: 900px;
  height: 630px;
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: transparent;
  transform: translate(-50%,-50%);
  z-index: 2;
  pointer-events: none;
}

#pause-container {
  display: none;
}

#config {
  color: #fff;
  font-size: 16px;
  padding-top: 360px;
  display: flex;
  justify-content: center;
}

#config .slider-label {
  margin-left: 14px;
}

#config input {
  margin: 0 12px;
  z-index: 1;
  width: 120px;
  pointer-events: all;
}

#start {
  z-index: 1;
  width: 20%;
  height: auto;
  position: relative;
  left: 50%;
  top: 100%;
  transform: translate(-50%,-250%);
  pointer-events: all;
  background-color: transparent;
}

#pause {
  position: relative;
  top: 7%;
  padding: 0;
  float: right;
  right: 10%;
  width: 30px;
  height: auto;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  z-index: 1000;
  pointer-events: all;
}

#pause .btn-pause {
  width: 30px;
  height: 30px;
  background: #d4d4d4;
  transition: inherit;
  clip-path: polygon(0 0, 50% 25%, 50% 75%, 50% 75%, 50% 25%, 100% 50%, 100% 50%, 0 100%);
}

#pause.playing .btn-pause {
   clip-path: polygon(0 0, 40% 0, 40% 100%, 60% 100%, 60% 0, 100% 0, 100% 100%, 0 100%);
}

.footer p {
  position: absolute;
  bottom: 20px;
  left: 50%;
  text-align: center;
  transform: translateX(-50%);
  color: #565656;
  font-style: italic;
}

.footer a {
  text-decoration: none;
  color: #000;
}

#loader_container {
  width: 100vw;
  height: 100vh;
  z-index: 9;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(44, 44, 44);
}

#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 10;
  width: 120px;
  height: 120px;
  margin: -76px 0 0 -76px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #ffc728;
  -webkit-animation: spin 1s ease-in-out infinite;
  animation: spin 1s ease-in-out infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}